  body, html {
    height: 100%;
    margin: 30;
    color: white; 
  }
  
body, button, input, select, textarea {

}

.blue-button {
    background-color: #0073D8;
    color: white;
    border: none;
    padding: 20px 40px; 
    border-radius: 51px;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: "Rubik Mono One", monospace;
    font-weight: 10;
    font-style: normal;
    
  
    &:hover {
      background-color: #005AAB; 
    }
  
   
    &:active {
      background-color: #003875;
    }
  } 
