  body, html {
    height: 100%;
    margin: 30;
    font-family: 'Turret Road',  sans-serif; 
    color: white; 
  }
  
body, button, input, select, textarea {
    font-family: 'Turret Road', sans-serif; 
  }

.blue-button {
    background-color: #0073D8;
    color: white;
    border: none;
    padding: 20px 40px; 
    border-radius: 51px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    
  
    &:hover {
      background-color: #005AAB; 
    }
  
   
    &:active {
      background-color: #003875;
    }
  } 
