  .rubik-mono {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .cousine-regular {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .cousine-bold {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .cousine-regular-italic {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .cousine-bold-italic {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: italic;
  }
  