
.landing-page-top {
    /* background-image: url("../images/landing.png"); */
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size:cover;  
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  p {
    font-size: 30px; 
  }

\body, html {
    height: 100%;
    margin: 0;
    /* font-family: 'Turret Road',  sans-serif;  */
    color: black; 
  }
  
body, button, input, select, textarea {
    /* font-family: 'Turret Road', sans-serif; */
  }

  .link-style {
    color: white;
    text-decoration: none;
  }